
<div class="wrapper">
<% if auth_user_signed_in? %>
<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      <strong><%= current_auth_user.email %></strong></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" <%= link_to 'Edit profile', edit_auth_user_registration_path %></a>
        <a class="dropdown-item" <%= link_to 'Sign out', destroy_auth_user_session_path  %></a>
      </div>
    </li>
</nav>
<% if current_auth_user.type == "Admin" %>
<p>Admin <%=current_auth_user.id %></p>
<div class="container">
<div class="row">
<div class="col-6">

</div>
<div class="col-6">

</div>
</div>
</div>
<%  else  %>
<div class="container" align="center">
<div class="row">
<div class="col-10"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Assigned user</th>
        <th>Status</th>
        <th>Description</th>
        <th>Creator</th>
      </tr>
    </thead>

    <tbody>
      <% $user_tasks=Task.select{|task| task.assignee_id == current_auth_user.id}  
        $user_tasks.each do |task|  
         $counter+=1 %>
        <tr>
        <th><%= task.subject %></th>
        <th><%= User.find(task.assignee_id).email %></th>
        <th>

        
                  <% (["To Do","In Progress","In Review","Done"]).each do |st|%>
                          <% if st == task.status %>
                          <div class="form-check">
                          <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio<%= $counter%>" checked="checked" 
                          <%= (task.status!="In Review" and task.status!="Done") ? ((st=="Done") ? "disabled" : "" ) : "disabled" %>
                          ><%= st %> </label>
                          </div>
                          <% else %>
                          <div class="form-check">
                          <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio<%= $counter%>" 
                          <%= (task.status!="In Review" and task.status!="Done") ? ((st=="Done") ? "disabled" : "" ) : "disabled" %>
                          ><%= st %> </label>
                          </div>
                          <% end %>
                  <% end %>
        <th><%= task.description %></th>
        <th><%= Admin.find(task.created_by_id).email %></th>
        </tr>
        <%   end  %>
    </tbody>
  </table>


</div>
<div class="col-2"></div>
</div>
<%  end  %>

<%  else  %>

<%= link_to 'Sign up', new_auth_user_registration_path  %>

<%= link_to 'Sign in', new_auth_user_session_path %>

<%  end  %>
</div>


