
<div class="wrapper">
<% if auth_user_signed_in? %>
<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      <strong><%= current_auth_user.email %></strong>
      </a>
      <%= link_to 'SQL1', sql1_path, class: 'btn btn-info' %>
      <%= link_to 'SQL2', sql2_path, class: 'btn btn-info' %>
      <div class="dropdown-menu">
        <a class="dropdown-item" <%= link_to 'Edit profile', edit_auth_user_registration_path %></a>
        <a class="dropdown-item" <%= link_to 'Sign out', destroy_auth_user_session_path  %></a>
      </div>
</nav>
<% if current_auth_user.type == "Admin"%>
<% $sort_id=(request.env['REQUEST_URI'])[-1,1]%>
<div class="container-fluid">
<div class="row">
<div class="col-6">
<div class="display-4" align="center">Created Tasks</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th><%= link_to "Assigned User", root_path($sort_id => 1), :class => "btn btn-info", onclick: $sort_id=$sort_id.to_i  %></th><br />
        <th><%= link_to "Creator", root_path($sort_id => 2), :class => "btn btn-info" , onclick: $sort_id=$sort_id %></th>
        <th><%= link_to "Status", root_path($sort_id => 3), :class => "btn btn-info", onclick: $sort_id=$sort_id %></th>
      </tr>
    </thead>

    <tbody> 
    <% $admin_tasks_in_review=Task.select{|task| task.created_by_id == current_auth_user.id}
    case $sort_id
    when 1 
    $admin_tasks_in_review=$admin_tasks_in_review.sort{|a,b| b.assignee_id <=> a.assignee_id}
    when 2 
    $admin_tasks_in_review=$admin_tasks_in_review.sort{|a,b| b.created_by_id <=> a.created_by_id}
    when 3 
    $admin_tasks_in_review=$admin_tasks_in_review.sort{|a,b| b.status <=> a.status}
    else
    $admin_tasks_in_review=$admin_tasks_in_review
    end %>
        
              <%if $admin_tasks_in_review!= nil
                $admin_tasks_in_review.each do |task|  
                   %>
                <tr>
                <th><%= task.subject %></th>
                <th><%= User.find(task.assignee_id).email %></th>

                <th><%= Admin.find(task.created_by_id).email %></th>
                <th><%= task.status %></th>
                <th><a href="tasks/<%= task.id%>" class="btn btn-secondary" role="button">View</a></th>
                </tr>
                <%   end  %>
        <%   end  %>
    </tbody>
  </table>

</div>
<div class="col-6">
<div class="display-4" align="center">Tasks In Review </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Assigned User</th>
        <th>Creator</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% $admin_tasks_in_review=Task.select{|task| task.created_by_id == current_auth_user.id and task.status == "In Review"}  
      $counter=0
              if $admin_tasks_in_review!= nil
                $admin_tasks_in_review.each do |task|  
                   %>
                <tr>
                <th><%= task.subject %></th>
                <th><%= User.find(task.assignee_id).email %></th>
                <th><%= Admin.find(task.created_by_id).email %></th>
                <th><%= task.status %></th>
                
                <th><a href="tasks/<%= task.id%>" class="btn btn-secondary" role="button">View</a></th>
                </tr>
                <%   end  %>
        <%   end  %>
    </tbody>
  </table>
<%= link_to "Add new user", new_task_path, :class => "btn btn-success btn-block"  %>
</div>
</div>

</div>
</div>
<%  else  %>
<div class="container-fluid" align="center">
<div class="row">
<div class="col-1"> </div>
<div class="col-10"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Assigned User</th>
        <th>Creator</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% $user_tasks=Task.select{|task| task.assignee_id == current_auth_user.id} 
       
      $counter=0
        $user_tasks.each do |task|  
         $counter+=1 %>
        <tr>
        <th><%= task.subject %></th>
        <th><%= User.find(task.assignee_id).email %></th>
        <th><%= Admin.find(task.created_by_id).email %></th>
        <th><%= task.status %>
        <th><a href="tasks/<%= task.id%>" class="btn btn-secondary" role="button">View</a></th>
        </tr>
        <%   end  %>
    </tbody>
  </table>


</div>
<div class="col-1"></div>
</div>
<%  end  %>

<%  else  %>

<%= link_to 'Sign up', new_auth_user_registration_path  %>

<%= link_to 'Sign in', new_auth_user_session_path %>

<%  end  %>
</div>


